<div class="text-center content-padding">
    <h3>Projects:</h3>
    <div class="flex-container">
        <div class="flex-child">
            <h5><a href="/projects/chembot">ChemBot</a></h5>
        </div>
        <div class="flex-child">
            <h5><a href="/projects/challenges">CTF Challenges</a></h5>
        </div>
        <div class="flex-child">
            <h5><a href="https://github.com/max-49/maxrsatool/" target="_blank">Max49's RSA Tool</a></h5>
        </div>
        <div class="flex-child">
            <h5 class="unclickable"><a>www.max49.cf (Page Coming Soon!)</a></h5>
        </div>
    </div>
</div>