<div class="text-center content-padding">
    <h3>Projects:</h3>
    <div class="flex-container">
        <div class="flex-child">
            <h5><a href="/projects/chembot">ChemBot</a></h5>
            <p><i>In development (v2021-10-15-alpha)</i></p>
        </div>
        <div class="flex-child">
            <h5><a href="/projects/challenges">CTF Challenges</a></h5>
        </div>
        <div class="flex-child">
            <h5><a href="/projects/maxrsatool">Max49's RSA Tool</a></h5>
        </div>
        <div class="flex-child">
            <h5 class="unclickable"><a>Coming Soon</a></h5>
        </div>
    </div>
</div>