body {
  font-family: Montserrat;
  text-align: center;
}

.error {
  padding-top: 5%;
  color: red;
}

#notifs {
  background-color: white;
  border-radius: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

#username {
  /* border-radius: 50px;
  width: 200px;
  height: 15px;
  border: 2px solid; */
  border-radius: 8px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  appearance: none;
  transition: background-color 0.3s ease 0s;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#password {
  /* border-radius: 50px;
  width: 200px;
  height: 15px;
  border: 2px solid; */
  border-radius: 8px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  appearance: none;
  transition: background-color 0.3s ease 0s;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.submit {
    font-family: Apercu, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    transition: all .2s ease-in-out;
    align-items: center;
    border: 0;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0C6FF9;
    color: #FFFFFF;
    fill: #FFFFFF;
    border-radius: 24px;
    min-height: 48px;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

#loginform {
  background-color: white;
  border-radius: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}