.content-padding {
  padding: 1%;
}

.modal-dialog {
  color: #212529;
}

.login-modal > h5 {
  color: #333333;
}

#username, #password {
  border-radius: 8px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: inline-block;
  text-align: start;
  cursor: text;
  margin: 0em;
  border-width: 2px;
  width: 90%;
  margin-bottom: 10px;
}

a {
  text-decoration: none !important;
  border-radius: 10px;
}

a:hover {
  background-color: #393c43;
}