<!DOCTYPE HTML>
<html>
  <head>
    <title>Writeups!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/an-old-hope.min.css">
    <link rel="icon" href="https://i.imgur.com/wQxv5zm.png" type="image/gif" sizes="16x16">
    <meta content="Imaginary CTF Writeups" property="og:site_name">
    <meta content="Max49 Imaginary CT Writeups" property="og:title">
    <meta content="Writeups Imaginary CTF!" property="og:description">
    <meta content="https://www.max49.cf/writeups" property="og:url">
    <meta content="https://i.imgur.com/wQxv5zm.png" property="og:image">
    <meta content="#000000" data-react-helmet="true" name="theme-color">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/writeups.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="jumbotron text-center">
      <img class="pfp" src="https://i.imgur.com/wQxv5zm.png" height="150px" width="auto" />
      <h1>Max49's ICTF Round 11 Challenge Writeups</h1>
      <p>Color Key (by point value, not by me): Green = Easy, Yellow = Easy/Medium, Orange = Medium, Red = Hard</p>
    </div>

    <img style="position: fixed; bottom: 0; right: 0; border: 0; padding: 20px;" id="imgClickAndChange" height="100px" width="auto" src="https://www.jing.fm/clipimg/full/132-1327227_moon-clipart-moon-clipart-black-and-white-half.png" onclick="changeImage()" alt="" draggable="false"/>
    
    <hr />
    <div class="flex-container">
      <div class="flex-child">
        <div class="easy chall">
          <h3>Sanity Check Round 11</h3>
          <p>Welcome to Round 11! DM flags to me to get points, and rise up on the leaderboard! Have fun and enjoy Round 11!</p>
          <h5>Attachments</h5>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">https://forms.gle/Yyb19PmAxJjyiuCP9</a><br /><br />
          <h5>Category</h5>
          <p>Misc</p>
          <div class="inline-container">
            <div class="inline-child">
              <h5>Author</h5>
              <p>Board</p>
            </div> 
            <div class="inline-child">
              <h5>Points</h5>
              <p>15</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-child">
        <div class="solve">
          <h3>Solve:</h3>
          <p>To solve this challenge, all you had to do was submit the flag given to you at the link!</p>
          <p><b>Difficulty rating:</b> 1/10</p>
          <p><b>Guessy rating:</b> 1/10</p>
        </div>
        <div class="flag">
          <h5>Flag:&nbsp;&nbsp;</h5><br />
          <p>ictf{super_sanity_check}</p>
        </div>
      </div>
    </div>
    <script>location.replace('https://www.youtube.com/watch?v=dQw4w9WgXcQ')</script>
  </body>
</html>