<!DOCTYPE HTML>
<html>
  <head>
    <title>Please enter the password to access these writeups</title>
    <link rel='stylesheet' type='text/css' href='/static/password.css?q={{ num }}'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>
  <body>
    <div style="position: fixed;top: 50%;left: 50%; transform: translate(-50%, -50%);">
      <form method="POST" action="/submit">
        <input type="password" name="pass" id="password" placeholder="Password" required><br /><br />
        <input type="submit" class="submit" value="Enter">
      </form>
      <p class="error">{{ error }}</p>
    </div>
  </body>
</html>